{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% macro render_menu(items, menu_level) %}
	{% if items %}
		<ul class="menu-level-{{ menu_level }} nav-list">

			{% for item in items %}
				<li{{item.attributes.addClass('menu-item-'~menu_level, 'nav-item')}}>
					<a href="{{ item.url }}" {{ item.attributes.addClass('nav-link') }}>
						{{ item.title }}
					</a>
					{% if item.below %}
						{{ _self.render_menu(item.below, menu_level + 1) }}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{{ _self.render_menu(items, 0) }}



